<!DOCTYPE html>
{% extends 'boards/base.html' %}
<html lang="en">
<head>
{% block title %}My account{% endblock %}
</head>
<body>
{% block breadcrumb %}
  <li class="breadcrumb-item active">Мой профиль</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Сохранить изменения</button>
      </form>
    </div>
  </div>
{% endblock %}
</body>
</html>